<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="assets/images/logo.png" />

<title>Edit Product</title>

<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/validation.css" rel="stylesheet" />
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SellNBye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="#">Products<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

	<!-- Begin page content -->
	<div class="page container col-md-5 mt-4">
		<div class="card border-secondary">
			<div class="card-header text-center"
				style="background-color: #d9d9d9;">Edit Product</div>

			<div class="card-body">
				<form  action="processEditProduct" method="post">
					<div class="form-group row pb-3 pt-2">
						<label for="inputProductId" class="col-sm-4 col-form-label">Product
							ID</label>
						<div class="col-sm-8">
							<input type="number" class="form-control"
								title="Please Enter Valid ID" placeholder="Product ID"
								id="inputProductId" required="required" min="1000" max="5000"
								th:value="${prod.id!=null}?${prod.id}"
								name="id" />
						</div>
					</div>
					<div class="form-group row pb-3">
						<label for="inputSupplier" class="col-sm-4 col-form-label">Supplier </label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								title="Please Enter Supplier"
								placeholder="Supplier" required="required"
								id="inputSupplier"
								th:value="${prod.supplier!=null}?${prod.supplier}"
								name="supplier" />
						</div>
					</div>
					<div class="form-group row pb-3">
						<label for="inputQuantity"
							class="col-sm-4 col-form-label">Quantity</label>
						<div class="col-sm-8">
							<input type="number" class="form-control"
								title="Please Enter Quantity"
								placeholder="Quantity" id="inputQuantity"
								th:value="${prod.quantity!=null}?${prod.quantity}"
								required="required" min="1" max="100" name="quantity" />
						</div>
					</div>
					<div class="form-group row pb-3">
						<label for="inputPrice"
							class="col-sm-4 col-form-label">Product Unit Price</label>
						<div class="col-sm-8">
							<input type="number" class="form-control"
								title="Please Enter Unit Price"
								placeholder="Product Unit Price" required="required"
								id="inputPrice"
								th:value="${prod.price!=null}?${prod.price}"
								name="price" />
						</div>
					</div>
										<div class="form-group row pb-3">
						<label for="inputType" class="col-sm-4 col-form-label">Product Type </label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								title="Please Enter Product Type"
								placeholder="Product Type" required="required"
								id="inputType"
								th:value="${prod.type!=null}?${prod.type}"
								name="type" />
						</div>
					</div>
										<div class="form-group row pb-3">
						<label for="inputItem" class="col-sm-4 col-form-label">Item </label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								title="Please Enter Item"
								placeholder="Item" required="required"
								id="inputItem"
								th:value="${prod.item!=null}?${prod.item}"
								name="item" />
						</div>
					</div>
					<div class="form-group row ">
						<div class="col-sm-8 mx-auto">
							<button type="submit" class="btn btn-dark btn-block">Update</button>
						</div>
						<a href="products" class=" col-sm-4 btn btn-dark btn-block">Go Back</a>
					</div>					
				</form>
			</div>			
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Custom Scripts for V-TOP Pages-->
	<script src="assets/js/vit-custom.js"></script>

	<noscript>
		<h2 class="text-red">Enable JavaScript to Access Page</h2>
	</noscript>
</body>
</html>