<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SellNBye</title>
</head>
<body>
	<!-- <a href="types.html">Types</a> -->
		 <div align="center">
			<h1> Types </h1> 
			<a href="newtype">Add New Type</a>
			<br/></br> 
			<table border="1" cellpadding="10">
			
				<thead>
					<tr>
						<th> Update </td>
						<th> Type </td>
						<th> Delete </td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="types : ${listTypes}">
						<td><a th:href="@{'/edittype/' + ${types.id}}"> Edit </a></td>
						<td th:text="${types.type}"> Type </td>
						<td><a th:href="@{'/deletetype/' + ${types.id}}">Delete</a></td>
					</tr>
				</tbody>	
			</table>  
	 </div>
</body>
</html>